
# Compiled Python files
*.pyc
__pycache__/

# Virtual environments
venv/
.venv/
.env
.env.local
*.env.*

# Logs
*.log

# Coverage reports
.coverage
coverage/
htmlcov/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS files
.DS_Store
Thumbs.db

# Build directories
build/
dist/
target/
*.egg-info/
.pytest_cache/
.mypy_cache/
*.csv

# App data
*.sqlite3
*.db
data/